@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Yeseva+One&display=swap');

body {

    background-color: rgba(252, 222, 240);
}

header {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    margin-top: 30px;
    margin-right: 10px;
    position: fixed;
    right: 10px;
    top: 20px;
    
}

header.img {
    width: 100%;
}

header:hover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient( rgba(255, 255, 255, 0.829) 30%, transparent 70%);
    animation: scale 2s ease;
    border-style: hidden;
    
   
}

@keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

main {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    align-items: flex;
    flex-direction: column;
}

h1 {
    font-size: 54px;
    justify-content: center;
    transform: translateY(250px);
}

.section{
    font-family: 'Yeseva One';
  min-height: 100vh;
  text-align: center;
  position: relative;
  margin: auto;
  padding: 0px;
  
}

.center {
    padding-top: 250px;

}

.blue {
    background-color: rgba(194, 212, 239, 1);
    color: antiquewhite;
}

.red {
    background-color: rgba(177, 31, 31, 0.945);
    color: antiquewhite;
    outline-color:rgba(0, 0, 0, 0.2);
}



.section img {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

p.credits {
text-align: center;
position: relative;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
margin-bottom: 1em;
margin-top: 1em;


}

nav {
z-index: 1;
position: fixed;
width: 52px;
height: 299px;
font-family: 'News Cycle';
font-style: bold;
font-weight:600;
font-size: 20px;
line-height: 33px;
text-align: center;

color: #000000;

}

link1{
    color: red;
}
link2{
    color: yellow;
}

nav li {
    list-style: none;
    padding-top: 30px;
    padding-right: 10px;
    
}

nav a {
    color: rgba(5, 5, 5);
    text-decoration: none;
}

#info {
    left: -15px;
    top: 50vh;

}
#contact {
    right: 20px;
    top: 50vh;
  }


#contact a:hover {
  color: rgb(145, 186, 248);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }

#info a:hover {
   color: rgba(198, 63, 63, .80);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

